body{
    font-family: 'Barlow', sans-serif;
    color: rgb(66, 66, 66);
    position: relative;
}

a{
    color:rgb(66, 66, 66);
    font-weight: 700;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

h2{
    font-size: 1.3rem;
}

h3{
    font-weight: 700;
    text-align: center;
}

h4{
    font-size: 1rem;
    text-align: center;
}

p{
    font-size:1.2rem;
    text-align: center;
}

a:hover{
    color: #307D46;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link a{
    background-color : #307D46;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: whitesmoke;
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(66, 66, 66);
}

.navbar-light .navbar-nav .nav-link:hover{
    background-color : #307D46;
    color: whitesmoke;
}

#top-nav-bar{
    -webkit-box-shadow: 3px 3px 11px 3px rgba(0, 0, 0, 0.048); 
    box-shadow: 3px 3px 11px 3px rgba(0, 0, 0, 0.048);
}

#jonah-tree-logo{
    height:25vh;
    margin: 25px;
}


.logo{
    margin: auto;    
    display: block;
    min-height: 3rem;
    height:9vw;
    }


.project-label{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    color:white;
    border-width: 4px;
    border-color: #307D46;
    border-style: solid;
    border-radius: 10px;
    background-color: #307D46;

    /* min-height: 200px ; */
}

.project-description{
    border-width: 1px;
    border-color: #307d4686;
    border-style: solid;
    border-radius: 10px;
    /* min-height: 200px ; */
}

.project-description-text{
    font-size: 1rem;
    text-align: left;
}

.project-icon{
    margin: auto;    
    display: block;
}

.project-icon:hover{
    filter: opacity(.75);
}